<% layout("layouts/boilerplate") %>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
   
  }
  .filter-item {
    text-align: center;
    margin-right: 2rem ;
    margin-top: 2rem;
    opacity: 0.7;
    transition:  0.3s ease;
  }

  .filter-item:hover {
    opacity: 1;
    cursor: pointer;
  }
</style>
  
  <div id="filters">
   
        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-fire"></i>
            </div>
            <p >Trending</p>
        </div>
        
        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-star"></i>
            </div>
            <p class="filter-label">Top Rated</p>
        </div>

        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-indian-rupee-sign"></i>
            </div>
            <p class="filter-label">Budget</p>
        </div>

        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-location-dot"></i>
            </div>
            <p class="filter-label">Near You</p>
        </div>

        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-gem"></i>
            </div>
            <p class="filter-label">Luxury</p>
        </div>

        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-house"></i>
            </div>
            <p class="filter-label">Houses</p>
        </div>

        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-building"></i>
            </div>
            <p class="filter-label">Apartments</p>
        </div>

        <div class="filter-item">
            <div class="filter-icon">
                <i class="fa-solid fa-umbrella-beach"></i>
            </div>
            <p class="filter-label">Beach</p>
        </div>

        
        <div class="filter-item">
          <div class="filter-icon">
              <i class="fa-solid fa-mountain"></i>
          </div>
          <p class="filter-label">Mountains</p>
      </div>

      <div class="filter-item">
          <div class="filter-icon">
              <i class="fa-solid fa-calendar"></i>
          </div>
          <p class="filter-label">New</p>
      </div>

        

    
</div>


<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">

      
      <div class="cards col">
        <div class="card mb-3 " >
          <img  src="<%= listing.image.url %>" class="card-img-top" style="height: 15rem" alt="<%= listing.title %>">
          <div class="card-img-overlay"></div>
          <div class="card-body ">
            
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text">
              <%= listing.description.substring(0, 100) %>...
              <br>
              <p>
                <div class="overlay"></div>
                <span class="position-absolute top-0 start-0 m-2 badge bg-success">
                  ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") : 0 %>/night
                </span>
              </p>
              <div class="overlay"></div>
              <span class="position-absolute top-0 end-0 m-2 like"><i class="fa-solid fa-heart"></i></span>
            </p>
           
          </div>
        </div>
      </div>
    </a>
  <% } %>
</div>

