<% layout("layouts/boilerplate") %>



<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
  <% for(let listing of allListings) { %>
    <a href="/listings/<%= listing._id %>" class="text-decoration-none text-dark">

      
      <div class="cards col">
        <div class="card mb-3 " >
          <img  src="<%= listing.image.url %>" class="card-img-top" style="height: 15rem" alt="<%= listing.title %>">
          <div class="card-img-overlay"></div>
          <div class="card-body ">
            
            <h5 class="card-title"><%= listing.title %></h5>
            <p class="card-text">
              <%= listing.description.substring(0, 100) %>...
              <br>
              <p>
                <div class="overlay"></div>
                <span class="position-absolute top-0 start-0 m-2 badge bg-success">
                  ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") : 0 %>/night
                </span>
              </p>
              <div class="overlay"></div>
              <span class="position-absolute top-0 end-0 m-2 like"><i class="fa-solid fa-heart"></i></span>
            </p>
           
          </div>
        </div>
      </div>
    </a>
  <% } %>
</div>

