<% layout("layouts/boilerplate") %>
<body>
 <h3>Listing Details</h3>
<ul>
    <% if (listing) { %>
        <li><strong>Title:</strong> <%= listing.title || "No title available" %></li>
        <li><strong>Description:</strong> <%= listing.description || "No description available" %></li>
        <li><strong>Price:</strong> &#8377; <%= listing.price.toLocaleString("en-IN") %></li>

        <li><strong>Location:</strong> <%= listing.location || "Location unknown" %></li>
        <li><strong>Country:</strong> <%= listing.country || "Country unknown" %></li>
    <% } else { %>
        <p>Listing not found.</p>
    <% } %>
</ul>
<br>
<a href="/listings/<%= listing._id %>/edit">Edit this listing</a>
<form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
    <button>Delete this listing</button>

</body>
